.meditations_select_class{
    display: block;
    max-width:100px ;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: "Gilroy Light";
}
.optionSelect{
    padding: 5px;
    display: block;
    height: 10px;
}









