@import url("../css/fonts.css");
.login-wrapper {
  height: 100vh;
  position: relative;
}
.login-wrapper .login-container {
  position: absolute;
  right: 100px;
  margin: 100px;
  width: 250px;
  background-color: white;
}
.login-wrapper .login-container h1 {
  font-family: "Gilroy Light";
  font-size: 52px;
  /* or 100% */
  letter-spacing: -0.06em;
  color: #1E1E1E;
  margin-bottom: 40px;
}
.login-wrapper .login-container label {
  font-family: "Gilroy Light";
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.login-wrapper .login-container .form__additionalFeatures {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.login-wrapper .login-container .form__buttonsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.login-wrapper .login-container .form__buttonsBlock * {
  margin: 2px;
}
.login-wrapper .login-container .form__buttonsBlock p {
  font-size: 16px;
}
.login-wrapper .login-container .form__inputFields {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-wrapper .login-container .form__inputFields section {
  width: 100%;
}
.login-wrapper .login-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: red;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}