@import url("../css/resetFile.css");
@import url("../css/fonts.css");


.meditations_list_content{
    height: 100vh;
    background-color: antiquewhite;
    .meditations_list_conten_item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .prikol{
        width: 100px;
        height: 100px;
        background-color: red;
    }
}