@import url("../css/resetFile.css");
@import url("../css/fonts.css");
.meditations_list_content {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
}
.meditations_list_content .search_fields {
  width: 300px;
}