@import url("../css/resetFile.css");
@import url("../css/fonts.css");
.meditations_list_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.meditations_list_content .search_fields {
  width: 300px;
}