@import url("../css/resetFile.css");
@import url("../css/fonts.css");
html{
    box-sizing: border-box;
}
.header__navigation__list_hidden{
    // visibility: collapse;
    // display: none;
    // opacity: 0;
    position: absolute;
    width: 100%;
    background-color: red;
    height: fit-content;
    z-index:100000000000;   
    li{
        &:hover{
            background-color: rgb(175, 159, 159);
            transition: .8s;
        }
        padding: 10px;
        font-family: "Chronicle Display Semibold";
        width: fit-content;
        font-family: 'Gilroy Light';
        font-style: normal;
        font-weight: 400;
        letter-spacing: 5px;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer;
        text-transform: uppercase;
        color:black;
        width: 100%;
    }
    background-color: white;
    position:fixed;
    
    top:0;
    text-align: center;
    transform:translateY(-100%);
    transition:1s;
}
.header{
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    top:44px;
    align-items: center;
    .header_options_list{
        .options_list{
            a{
                color: black;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li{
                margin:0 50px 0;
                font-family: "Gilroy Bold","Consolas";
            }
            li:hover{
                
                transform: scale(1.1);
                transition: 0.6s;
                //border-bottom: 1px solid black;
            }
        }
    }
    .header_account_drop{
        .header_account{
            font-family: "Gilroy Bold";
            color:rgb(0, 0, 0);
            //transform: translateX(100px);
            display: block;
            .icon {
                background-image: url("../img/user.png");
                background-position: left center;
                background-repeat: no-repeat;
                
                padding-left: 25px; /* Or size of icon + spacing */
            }
        }
    }
    .header_account__dropdownMenu{
        visibility: collapse;
        opacity: 0;
        background:#5b6463a0;
        backdrop-filter: blur(10px);
        border-radius: 5px;
        width:max-content;
        position: absolute;
        z-index:1000;
        height: fit-content;
        
        z-index: 1000;
        div{
            a{
                color: white;

            }
            padding: 20px;
            &::after{
                width: 100%;
                height: 1px;
                transform: translateX(-9%); // padding 20px ==> 100/20 * 2 = 10%
                background-color: black;
                position: absolute;
                content: '';
                margin-top:10px;
                align-items: center;
                justify-content: center;
            }
        }
        li,p{
            font-family: "Chronicle Display Semibold";
            width: fit-content;
            font-family: 'Gilroy Light';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            cursor: pointer;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: white;
            font-size: 14px;     

            a{
                color: rgb(131, 192, 84);
            }
        }
        li{
            padding: 10px;
            &:hover{
                transform: scale(1.07);
                transition: 1s;
                
            }  
        }
        ul{
            margin-left:0px;
        }
    }
    .header_logo{
        font-family:'Chronicle Display Semibold',"Times New Roman";
        font-size: 30px;
    }
}
.burger__icon{
    visibility: hidden;
}
.mainHeaderBurger{
    display: none;
}
.hiddenLogotype{
    display: none;
    font-family:'Chronicle Display Semibold',"Times New Roman";
    font-size: 30px;
}
.element::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  .header{
    .header_account_drop{
        cursor: pointer;
        .header_account__dropdownMenu.active{
            visibility: visible;
            opacity: 1;
            transition: 1s;
        }
    }
  }
  
@media screen and (max-width: 810px){
    .header_logo{
        display: none;
    }
    .mainHeaderBurger{
        display: block;
    }
    .hiddenLogotype{
        display: block;
        transform:translate(-10px,10px);
        visibility: visible;
        width: 50px;
        height: 50px;
    }
    .header_options_list{
        display: none;
    }
    .firstPage__title{
        .firstPage_title_descriprion{
            h1{
                font-size: 45px;
            }
        }
        .firstPage_title__header{
            span{
                font-size: 14px;
            }
        } 
    }
}

@media screen and (min-width:811px){
    .header__navigation__list_hidden{
            display: none;
    }

}