
@import url("../css/fonts.css");


.login-wrapper{
    height: 100vh;
    position: relative;
    .login-container{
        position: absolute;
        right: 100px;
        margin:100px;
        width: 250px;
        background-color: white;
        h1{

            font-family: "Gilroy Light";
            font-size: 52px;
            /* or 100% */
            letter-spacing: -0.06em;
            color: #1E1E1E;
            margin-bottom: 40px;
        }
        label{
            font-family: "Gilroy Light";
            
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
        .form__additionalFeatures{
            margin-top:10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .form__buttonsBlock{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top:40px;
            *{
                margin:2px;
            }
            p{
                font-size: 16px;
            }

        }
        .form__inputFields{
            display: flex;
            align-items: center;
            flex-direction: column;
            section{
                width: 100%;
            }
        }
    }
    .login-footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: red;
        height:100px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}
