@import url("../css/resetFile.css");


// .meditation-card-wrapper{
//     overflow: hidden;
//     width: fit-content;
//     height: fit-content;
//     position: relative;
//     .meditation-card{
//         width: 350px;
//         height: 350px;
//         background-color: rgb(226, 228, 218);
//         padding: 10px;
//         margin:10px;
//         .meditation-card__image{
//             position: relative;
//             overflow: hidden;
//             height: 250px;
//             img{
//                 position: relative;
//                 top: 0;
//                 max-width: 100%;
//                 max-height: 200px;
//                 margin: auto;
//                 transition: transform 0.4s;
//             }
//         }
//         .meditation-card__title{
        
//             height: 100%;
//             width: 100%;
//             background-color: rgb(225, 239, 133);
//             display: -webkit-box;
//             -webkit-line-clamp: 2; /* number of lines to show */
//                     line-clamp: 2; 
//             -webkit-box-orient: vertical;
//             &:hover{
                
//                 transition: 1.2s;
//             }
//         }
//     }
// }



.meditation-card-wrapper{
    .meditation-card__image{
        width: 100%;
        height: 270px;
        object-fit: contain;
    }
    .meditation-card__title{
        font-family: Times;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    }
    .meditation-card__rating{
        font-family: Times;
        font-size: 18px;
        text-align: center;
    }
}